 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  margin-top: 3rem;
  width: 50vw;
  padding-block: 0.7rem;
  text-indent: 0.rem;
  border: 1px solid grey;
  border-radius: 5px;
}
.image-wrapper {
  margin-top: 1rem;
  display: flex;
position: relative;
}
.image {
  width: 80vw;
}
.image-text {
  position: absolute;
  bottom: 17%;
  left: 0;
  right: 0;
  text-align: center;
}
.download-btn {
  color: white;
  background-color: #c99038;
  margin-top: 2rem;
  width: 50vw;
  padding-block: 0.7rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}
.download-btn:hover {
background-color: black;
}
.download-btn:active {
  transform: scale(.98);
} 
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  padding-bottom: 50px;
  min-height: 100vh;
} 
 */